$primary-color: #4caf50;
$secondary-color: #fb9a09;
$blue-cards: #1976d2;
$blue-button: #2196f3;
$white: white;
$border-card: #ccc;
$txt-black:black;
$txt-grey: grey;
$font-stack: 'Arial', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  color: $primary-color; 
}
